<script src="./js/reason.js"></script>

<div class="container px-4 mb-6">
  <div class="columns is-multiline">
    <div class="column is-full">
      <h2 class="title is-2">Make an appointment</h2>
    </div>
    <div class="column is-full">
      <h4 class="subtitle is-4">Reason for your visit</h4>
    </div>
    <div class="column is-full">
      <label class="label" for="firstName">Reason<sup
          class="has-text-danger"
          title="required"
        >*</sup></label>
      <div class="control">
        <div class="field" id="reasonsContainer">
        </div>
      </div>
      <p class="help is-danger" id="errorMessage" style="display:none;">Please
        select atleast one reason</p>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="buttons is-centered">
        <button
          class="button is-rounded is-one-fifth is-medium"
          id="prevButton"
          onclick="prevButton()"
        ><span class="icon">
            <i class="fa-solid fa-backward"></i>
          </span>
          <span>Previous</span></button>
        <button
          class="button is-rounded is-one-fifth custom-red is-medium"
          id="nextButton"
          onclick="nextButton()"
        ><span>Next</span>
          <span class="icon">
            <i class="fa-solid fa-forward"></i>
          </span></button>
      </div>
    </div>
  </div>
</div>