<script src="./js/success.js"></script>
<div class="hero label-container">
  <h4 class="subtitle is-4">Your appointment is successfully scheduled</h4>
  <h4 class="subtitle is-4" id="confId">Confirmation ID: </h4>
  <p>Click <a id="backLink" href="#">here</a> to go back to home page</p>
</div>
<style>

  .label-container { display: flex; justify-content: space-around;
  padding-right: 10%; padding-left: 10%; } @media (max-width: 768px) { h4 {
  font-size: 18px !important; } }
</style>