<script src="./js/home.js"></script>
<div class="container px-4 mb-6">
  <div class="columns is-multiline">
    <div class="column is-full">
      <h2 class="title is-2 mb-4">Make an appointment</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <div class="card is-info">
        <div class="card-content">
          <div class="content">
            <div class="columns is-multiline">
              <div class="column is-full mt-4">
                <i class="fa-solid fa-lock fa-xl"></i>
              </div>
              <div class="column is-full">
                <p>Click the button below, to continue as existing customer</p>
              </div>
              <div class="column is-full">
                <button
                  class="button is-rounded is-responsive is-normal is-fullwidth custom-red"
                  id="exisCutomer"
                  onclick="exisCutomer()"
                >
                  Existing Customer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="card is-info">
        <div class="card-content">
          <div class="content">
            <div class="columns is-multiline">
              <div class="column is-full mt-4">
                <i class="fa-regular fa-handshake fa-xl"></i>
              </div>
              <div class="column is-full">
                <p>Click the button below, to continue as a guest</p>
              </div>
              <div class="column is-full">
                <button
                  class="button is-rounded is-responsive is-normal is-fullwidth custom-red"
                  id="guest"
                  onclick="guest()"
                >
                  Guest
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>