<script src="./js/cusInfo.js"></script >

<form class="container px-4 mb-6" onsubmit="nextButton()" id="cusInfoForm">
  <div class="columns is-multiline">
    <div class="column is-full">
      <h2 class="title is-2">Make an appointment</h2>
    </div>
    <div class="column is-full">
      <h4 class="subtitle is-4">Enter your contact information</h4>
    </div>
    <div class="column is-three-fifths">
      <label class="label" for="firstName">First Name<sup
          class="has-text-danger"
          title="required"
        >*</sup></label>
      <div class="control has-icons-left">
        <input
          class="input"
          type="text"
          id="firstName"
          placeholder="First Name"
          min="1" max="100"
          required
        />
        <span class="icon is-left"><i class="fa-solid fa-user"></i></span>
      </div>
      <p class="help">This is only for reference</p>
    </div>
    <div class="column is-two-fifths">
      <label class="label" for="lastName">Last Name<sup
          class="has-text-danger"
          title="required"
        >*</sup></label>
      <div class="control has-icons-left">
        <input
          class="input"
          type="text"
          id="lastName"
          placeholder="Last Name"
          min="1" max="100"
          required
        />
        <span class="icon is-left"><i class="fa-solid fa-user"></i></span>
      </div>
      <p class="help">This is only for reference</p>
    </div>
    <div class="column is-full">
      <label class="label" for="email">Email Address<sup
          class="has-text-danger"
          title="required"
        >*</sup></label>
      <div class="control has-icons-left">
        <input
          class="input"
          type="email"
          id="email"
          placeholder="Email Address"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          required
        />
        <span class="icon is-left"><i class="fa-solid fa-envelope"></i></span>
      </div>
      <p class="help">This email will be linked with your customer ID and cannot be modified</p>
    </div>
    <div class="column is-full">
      <label class="label" for="phone">Phone Number<sup
          class="has-text-danger"
          title="required"
        >*</sup></label>
      <div class="control has-icons-left">
        <input
          class="input"
          type="tel"
          id="phone"
          placeholder="Phone Number"
          pattern="(\+[0-9]{1,3})?[0-9]{9,14}"
          required
        />
        <span class="icon is-left"><i class="fa-solid fa-phone"></i></span>
      </div>
      <p class="help">This number will be linked with your customer ID and cannot be modified</p>
      <p class="help is-danger" id="errorMessage" style="display:none;">Customer already exists</p>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-half ">
      <div class="buttons is-centered">
        <button
          class="button is-rounded is-one-fifth is-medium"
          id="prevLink"
          onclick="handlePrevious()"
        >
          <span class="icon">
            <i class="fa-solid fa-backward"></i>
          </span>
          <span>Previous</span>
        </button>
        <button
          class="button is-rounded is-one-fifth custom-red is-medium"
          type="submit"
        >
          <span>Next</span>
          <span class="icon">
            <i class="fa-solid fa-forward"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</form>

<script>
  const accessToken="{{accessToken}}"; 
  const soapBoxURL="{{soapBoxURL}}";
</script >
