<script src='./js/dateTime.js'></script>

<form class='container px-4 mb-6' onsubmit='handleSubmit()' id='dateTimeForm'>
  <div class='columns is-multiline'>
    <div class='column is-full'>
      <h2 class='title is-2'>Make an appointment</h2>
    </div>
    <div class='column is-full'>
      <h4 class='subtitle is-4'>Choose a date and time</h4>
    </div>
    <div class='column is-one-third'>
      <label class='label' for='firstName'>Date and Time<sup
          class='has-text-danger'
          title='required'
        >*</sup></label>
      <div class='control has-icons-left'>
        <input
          name='date'
          type='date'
          id='datetime'
          placeholder='Select date'
          class='input custom-border'
          required
        />
        <span class='icon is-left'><i class='fa-regular fa-calendar-days'></i></span>
      </div>
      <p class='help'>Select date and time for your appointment</p>
      <p class='help is-danger' id='errorMessage' style='display:none;'>Please select a date and
        time</p>
    </div>
  </div>
  <div class='columns is-centered'>
    <div class='column is-half'>
      <div class='buttons is-centered'>
        <button
          class='button is-rounded is-one-fifth is-medium'
          id='prevLink'
          onclick='handlePrevious()'
        >
          <span class='icon'>
            <i class='fa-solid fa-backward'></i>
          </span>
          <span>Previous</span>
        </button>
        <button
          class='button is-rounded is-one-fifth custom-red is-medium'
          id='submitButton'
          type='submit'
        >
          <span>Submit</span>
          <span class='icon'>
            <i class='fa-solid fa-forward'></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</form>