<nav class='navbar is-fixed-top has-shadow custom-red' id='navbar' aria-label='main navigation'>
  <div class='navbar-brand'>
    <a class='navbar-item' id='navbarItem' href='#'>
      <img class='logo' id='logo' src='' alt='Home' />
    </a>

    <button
      id='main-burger'
      class='navbar-burger'
      aria-label='menu'
      aria-expanded='false'
      data-target='navbarBasicExample'
    >
      ☰
    </button>
  </div>
</nav>