<!-- public/layout.html -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://npmcdn.com/flatpickr/dist/themes/dark.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>{{title}}</title>
  </head>
  <body>

    <div id="header">
      <nav
        class="navbar is-fixed-top has-shadow custom-red"
        id="navbar"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img class="logo" id="logo" src="" alt="Home" />
          </a>

          <button
            id="main-burger"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            ☰
          </button>
        </div>
      </nav>
    </div>
    <div id="app">
      <h2 class="subtitle is-2">Make an appointment</h2>
      {{{body}}}
    </div>
    <div id="footer">
      <footer class="footer has-background-grey-lighter">
        <div class="content has-text-centered">
          <p>
            <strong>Appointment Scheduler</strong>
            by
            <a
              href="https://github.com/wxsd-sales"
              target="_blank"
              referrerpolicy="no-referrer"
            >WXSD-Sales</a>.<br />
            &copy;
            <script>
              document.write(new Date().getUTCFullYear());
            </script>
            Webex by Cisco
          </p>
        </div>
      </footer>
    </div>
    <script src="./js/main.js">

    </script>
  </body>

</html>